html {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}

/* header section  */

header {
  position: fixed;
  z-index: 5;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px black solid;
}

header .content {
  width: 100%;
  margin: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4A4A4A;
  border: 1px blue solid;
}

header .desktop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px red solid;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px black dotted;
}

nav a {
  padding-left: 1rem;
}

img.logo {
  height: 3rem;
  padding-right: .3rem;
}

.desktop span {
  height: 2rem;
}

header .mobile {
  display: none;
}

/* for screen width of 520px or smaller: */
@media only screen and (max-width: 520px) {

  header .desktop {
    display: none;
  }

  header .content {
    margin: .5rem;
  }

  img.logo {
    height: 2.5rem;
    padding-right: 0;
  }

  /* .mobile must be displayed because the default is display: none */
  header .mobile {
    display: block;
    width: 100%;
    margin-left: 4rem;
    padding-top: .25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .mobile a {
    padding-left: 0;
    /* vertical-align: bottom; */
}
