html {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}

/* header section  */

header {
  position: fixed;
  z-index: 5;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px black solid;
}

header .content {
  width: 100%;
  margin: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4A4A4A;
  border: 1px blue solid;
}

header .desktop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px red solid;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px black dotted;
}

nav a {
  padding-left: 1rem;
}

img.logo {
  height: 3rem;
  padding-right: .3rem;
}

.desktop span {
  height: 2rem;
}

header .mobile {
  display: none;
}

/* for screen width of 520px or smaller: */
@media only screen and (max-width: 520px) {

  header .desktop {
    display: none;
  }

  header .content {
    margin: .5rem;
  }

  img.logo {
    height: 2.5rem;
    padding-right: 0;
  }

  /* .mobile must be displayed because the default is display: none */
  header .mobile {
    display: block;
    width: 100%;
    margin-left: 4rem;
    padding-top: .25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .mobile a {
    padding-left: 0;
    /* vertical-align: bottom; */
  }
}

/* main section  */

main {
  top: 4rem; /* offset for fixed header. */
  position: relative;
  background-color: #f2f2f2;
}

.landing-page {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background-color: Grey;
}

.landing-page img {
  width: 60%;
  height: auto;
  padding: 2rem 1.5rem;
}

.landing-page .flex-container-column {
  width: 22%;
  display: flex;
  flex-direction: column;
  border: 1px red solid;
}

.landing-page .flex-container-column {
  margin-left: 1rem;
}

.landing-page h3 {
  padding: 2rem 0;
}

.button {
  background-color: DarkGrey;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button span {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/* main section - for screen width of 520px or smaller: */
@media only screen and (max-width: 520px) {

.landing-page {
  flex-direction: column;
  }

.landing-page img {
  width: 100%;
  height: auto;
  padding: 0;
  }

.landing-page .flex-container-column {
  width: auto;
  margin: 2rem 1rem;
  }

.landing-page h3 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  }
}

/* second section */
